<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dyt.dao.LogDao">
	
	<resultMap  id="logMap" type="cn.dyt.po.LogInfo">
		<id column="id" property="id"/>
		<result column="s_id" property="sId"/>
		<result column="create_date" property="createDate"/>
		<result column="note" property="note"/>
		<result column="admin_id" property="adminId"/>
	</resultMap>
	
	<select id="findAll" resultMap="logMap" resultType="cn.dyt.po.LogInfo" parameterType="cn.dyt.vo.IndexVo">
	  select * from t_log
	</select>

	<delete id="del" parameterType="cn.dyt.vo.IndexVo">
		delete from t_log where id=#{id}
	</delete>
	
	<insert id="add" parameterType="cn.dyt.vo.OrderVo" useGeneratedKeys="true" keyProperty="id">
	  insert into t_log(s_id,create_date,note,admin_id) 
	  values(#{sId},#{createDate},#{note},#{adminId})
	</insert> 

</mapper>