<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dyt.dao.CustomerTypeDao">
	
	<resultMap  id="typeMap" type="cn.dyt.po.CustomerType">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
	</resultMap>
	
	<select id="findAll" resultMap="typeMap" resultType="cn.dyt.po.CustomerType" parameterType="cn.dyt.vo.IndexVo">
	  select * from t_customer_type
	</select>
	
	<select id="getById" resultMap="typeMap" resultType="cn.dyt.po.CustomerType" parameterType="java.lang.Integer">
	  select * from t_customer_type where id=#{id}
	</select>
</mapper>